$mobile-width: 600px;
$tablet-width: 1024px;
$smallFontSize: 14px;
$defaultFontSize: 18px;
$largeFontSize: 20px;
$supperLargeFontSize: 80px;
$semiBold: 600;
$Bold: 700;
//
$mainBg: rgb(26, 26, 26);
$header-text-color: rgb(162, 162, 162);
$header-text-color-hover: rgba(255, 66, 50, 0.7);
$white-text-color: #fff;
$black-text-color: #000;
$red-text-color: rgb(255, 66, 50);
$secondary-button: rgba(41, 41, 41, 1);

//
$header-height: 64px;
