@import './index.scss';

.header-wrapper {
  width: 100vw;
  height: $header-height;
  background-color: $mainBg;
  color: $header-text-color;
  align-items: center;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0px 16px;
  a {
    color: $header-text-color-hover;
  }
  .header-navigation {
    margin-left: 30px;
    display: flex;
    font-size: $smallFontSize;

    .header-navigation-item {
      display: flex;
      align-items: center;
      margin: 0 10px;
      color: $header-text-color;
      cursor: pointer;
      position: relative;
      font-weight: $semiBold;
      &.active {
        color: $red-text-color;
      }

      .header-navigation-item-icon {
        margin-right: 2px;
        width: 25px;
        height: 25px;
        fill: $header-text-color;
        &.active {
          fill: $header-text-color-hover;
        }
      }

      &:hover {
        .header-navigation-item-icon,
        span {
          color: $header-text-color-hover;
          fill: $header-text-color-hover;
        }
      }
    }
  }
}
