.header-wrapper {
  max-width: 100vw;
  height: 64px;
  background-color: #1a1a1a;
  color: #a2a2a2;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0px 16px; }
  .header-wrapper .header-item {
    display: flex;
    align-items: center; }
    .header-wrapper .header-item .logo {
      height: 27.5px;
      width: 106px;
      padding-right: 25px;
      border-right: 1px solid rgba(255, 66, 50, 0.7); }
    .header-wrapper .header-item a {
      color: rgba(255, 66, 50, 0.7); }
    .header-wrapper .header-item .header-navigation {
      margin-left: 30px;
      display: flex;
      font-size: 14px; }
      .header-wrapper .header-item .header-navigation .header-navigation-item {
        display: flex;
        align-items: center;
        margin: 0 10px;
        color: #a2a2a2;
        cursor: pointer;
        position: relative;
        font-weight: 600;
        position: relative;
        padding: 10px 2px; }
        .header-wrapper .header-item .header-navigation .header-navigation-item::before {
          transition: 300ms;
          height: 2px;
          bottom: 0;
          content: '';
          position: absolute;
          background-color: rgba(255, 66, 50, 0.7);
          width: 0%;
          opacity: 0; }
        .header-wrapper .header-item .header-navigation .header-navigation-item.active {
          color: #ff4232; }
          .header-wrapper .header-item .header-navigation .header-navigation-item.active::before {
            width: 100%;
            opacity: 1; }
        .header-wrapper .header-item .header-navigation .header-navigation-item .header-navigation-item-icon {
          margin-right: 3px;
          width: 20px;
          height: 20px;
          fill: #a2a2a2; }
          .header-wrapper .header-item .header-navigation .header-navigation-item .header-navigation-item-icon.active {
            fill: rgba(255, 66, 50, 0.7); }
        .header-wrapper .header-item .header-navigation .header-navigation-item:hover .header-navigation-item-icon,
        .header-wrapper .header-item .header-navigation .header-navigation-item:hover span {
          color: rgba(255, 66, 50, 0.7);
          fill: rgba(255, 66, 50, 0.7); }
        .header-wrapper .header-item .header-navigation .header-navigation-item:hover::before {
          width: 100%;
          opacity: 1; }
        @media only screen and (max-width: 1024px) {
          .header-wrapper .header-item .header-navigation .header-navigation-item {
            display: none; } }
    @media only screen and (max-width: 1024px) {
      .header-wrapper .header-item .header-action {
        display: none; } }

button {
  opacity: 1;
  font-size: 14px;
  font-weight: 400px;
  transition: opacity 0.5s ease-out;
  padding: 10px 16px;
  border-radius: 0.375rem;
  color: #fff;
  cursor: pointer; }
  button:hover {
    opacity: 0.85; }

button + button {
  margin-left: 10px; }

.button-mainColor {
  background-color: #ff4232; }

.button-secondaryColor {
  background-color: #292929; }
