.justify-center {
  justify-content: center !important; }

.justify-start {
  justify-content: flex-start !important; }

.justify-end {
  justify-content: flex-end !important; }

.justify-between {
  justify-content: space-between !important; }

.justify-around {
  justify-content: space-around !important; }

.justify-evenly {
  justify-content: space-evenly !important; }

.header h1 {
  color: red; }
  @media only screen and (max-width: 600px) {
    .header h1 {
      color: blue; } }
